<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922632930084-1ulavn8uovc3uu1f10pn91sjlq7vm16m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922632930084-1ulavn8uovc3uu1f10pn91sjlq7vm16m</string>
	<key>API_KEY</key>
	<string>AIzaSyDMGg3wGexjiNAIdPlHeXFRcxZABKbneM8</string>
	<key>GCM_SENDER_ID</key>
	<string>922632930084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yaronj.tim</string>
	<key>PROJECT_ID</key>
	<string>teacher-in-a-moment</string>
	<key>STORAGE_BUCKET</key>
	<string>teacher-in-a-moment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922632930084:ios:621a96f2e9fca5f7fde9b1</string>
</dict>
</plist>